body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin-top: 80px;
}

.container {
    background: white;
    width: 420px;
    margin: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

button {
    background-color: #3186f6;
    color: rgb(255, 255, 255);
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
}
